header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
}

header li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

header img {
    height: 5vw;
    border-radius: 50vw;
}

.logo {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.logo:hover {
    opacity: 0.7;
}

.nav_tabs {
    list-style: none;
}

.nav_tabs li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_tabs li a {
    transition: all 0.3s ease 0s;
}

.nav_tabs li a:hover {
    color: #0049a9;
}

button {
    border: none;
    padding: 9px 25px;
    background-color: rgb(43, 52, 66);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 68, 169, 0.7);
}
